<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
{% extends 'base.html' %}

{% block title %}Stock Report{% endblock %}

{% block content %}
  <title>Dashboard</title>
</head>
<body>
<h2>Dashboard</h2>
  <a href="/add_stock" class="btn btn-success mb-3">stock enter</a>
  <a href="/upload" class="btn btn-success mb-3">Upload Stock Excel</a>
  <a href="/stock_report" class="btn btn-success mb-3">View Stock Report</a>

  <a href="/logout" class="btn btn-success mb-3">Logout</a> <br>
</body>
{% endblock %}
</html>